# Analyzing Olympics Data with SQL and Python

In [75]:
# Import libraries
import numpy as np
import pandas as pd
import plotly.express as px

# Import the data
olympics = pd.read_csv(r"C:\Users\yoyoj\Documents\Data\Data Camp Projects\Olympics with SQL and Python\athlete_events.csv")

# Preview the DataFrame
olympics

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [76]:
# Inspect the DataFrame
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      271116 non-null  int64
 1   name    271116 non-null  object
 2   sex     271116 non-null  object
 3   age     261642 non-null  float64
 4   height  210945 non-null  float64
 5   weight  208241 non-null  float64
 6   team    271116 non-null  object
 7   noc     271116 non-null  object
 8   games   271116 non-null  object
 9   year    271116 non-null  int64
 10  season  271116 non-null  object
 11  city    271116 non-null  object
 12  sport   271116 non-null  object
 13  event   271116 non-null  object
 14  medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [77]:
# Check missing values
olympics.isna().sum()

id             0
name           0
sex            0
age         9474
height     60171
weight     62875
team           0
noc            0
games          0
year           0
season         0
city           0
sport          0
event          0
medal     231333
dtype: int64

The missing values in the `medal` column are because the dataset contains all competitors (not just those who won a medal). The remaining columns with missing values are not of interest to us today.

When exploring it, it looked as though some of the teams had hyphens and backslashes. Let's inspect it more closely by inspecting the unique values of the column.

In [78]:
# Inspect the team column
olympics["team"].value_counts().to_frame()

                team
United States  17847
France         11988
Great Britain  11404
Italy          10260
Germany         9326
...              ...
Briar              1
Hannover           1
Nan-2              1
Brentina           1
Digby              1

[1184 rows x 1 columns]

The `team` column is messy and sometimes contains countries separated by forward slashes or hyphens. Let's clean this by using [`.str.extract()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.extract.html) to extract the first country mentioned in the cases of slashes or hyphens (e.g., "Denmark/Sweden" becomes "Denmark").

In [79]:
# Split the team column on forward slashes and hyphens
olympics["team_clean"] = olympics["team"].str.split("[/-]").str[0]

# Preview the new column
olympics["team_clean"].unique()

array(['China', 'Denmark', 'Netherlands', 'United States', 'Finland',
       'Norway', 'Romania', 'Estonia', 'France', 'Taifun', 'Morocco',
       'Spain', 'Egypt', 'Iran', 'Bulgaria', 'Italy', 'Chad',
       'Azerbaijan', 'Sudan', 'Russia', 'Argentina', 'Cuba', 'Belarus',
       'Greece', 'Cameroon', 'Turkey', 'Chile', 'Mexico', 'Soviet Union',
       'Nicaragua', 'Hungary', 'Nigeria', 'Algeria', 'Kuwait', 'Bahrain',
       'Pakistan', 'Iraq', 'United Arab Republic', 'Lebanon', 'Qatar',
       'Malaysia', 'Germany', 'Thessalonki', 'Canada', 'Ireland',
       'Australia', 'South Africa', 'Eritrea', 'Tanzania', 'Jordan',
       'Tunisia', 'Libya', 'Belgium', 'Djibouti', 'Palestine', 'Comoros',
       'Kazakhstan', 'Brunei', 'India', 'Saudi Arabia', 'Syria',
       'Maldives', 'Ethiopia', 'United Arab Emirates', 'North Yemen',
       'Indonesia', 'Philippines', 'Singapore', 'Uzbekistan',
       'Kyrgyzstan', 'Tajikistan', 'Unified Team', 'Japan',
       'Congo (Brazzaville)', 'Switzerland', 'Brazil', 'West Germany',
       'East Germany', 'Monaco', 'Fornebo', 'Israel', 'Vesper Boat Club',
       'Uruguay', 'Sweden', 'United States Virgin Islands', 'Sri Lanka',
       'Armenia', "Cote d'Ivoire", 'Kenya', 'Benin', 'Ukraine',
       'Great Britain', 'Ghana', 'Somalia', 'Latvia', 'Niger', 'Mali',
       'Afghanistan', 'Poland', 'Costa Rica', 'Panama', 'Georgia',
       'Slovenia', 'Croatia', 'Guyana', 'New Zealand', 'Portugal',
       'Paraguay', 'Angola', 'Venezuela', 'Colombia', 'Bangladesh',
       'Peru', 'El Salvador', 'Puerto Rico', 'Uganda', 'Honduras',
       'Ecuador', 'Turkmenistan', 'Mauritius', 'Seychelles',
       'Czechoslovakia', 'Luxembourg', 'Mauritania', 'Czech Republic',
       'Saint Kitts and Nevis', 'New York Athletic Club #2',
       'Trinidad and Tobago', 'Dominican Republic',
       'Saint Vincent and the Grenadines', 'Mystery', 'Jamaica',
       'Liberia', 'Suriname', 'Nepal', 'Mongolia', 'Austria',
       'Clementine V', 'Bylina', 'Palau', 'Lithuania', 'Togo', 'Namibia',
       'Netherlands Antilles', 'Iceland', 'American Samoa', 'Samoa',
       'Rwanda', 'Dominica', 'Haiti', 'Stella', 'Malta',
       'Large boat, Central Naval Prep School "Poros"', 'Cyprus',
       'Guinea', 'Xolotl', 'Belize', 'Matrero II', 'Blue Red',
       'Gteborgs Roddklubb', 'South Yemen', 'South Korea', 'Lucky Girl',
       'Mutafo', 'Thailand', 'Yeoman VII', 'Yeoman XII', 'Bermuda',
       'Australasia', 'Union des Socits Franais de Sports Athletiques',
       'Serbia and Montenegro', 'Sierra Leone', 'Bissbi',
       'Papua New Guinea', 'Yemen', 'Individual Olympic Athletes', 'Oman',
       'Fiji', 'Vanuatu', 'Martha', 'Moldova', 'Yugoslavia', 'Bahamas',
       'Guatemala', 'Burevestnik', 'Druzhba', 'Olen', 'Serbia',
       'British Virgin Islands', 'Mozambique', 'Heatherbell',
       'Central African Republic', 'Madagascar', 'Malaya',
       'Socit Nautique de Bayonne', 'Bosnia and Herzegovina', 'Guam',
       'Cayman Islands', 'Cupidon Viking', 'Damoiselle', 'Slovakia',
       'USFSA', 'The Cloud', 'Galerna', 'Heira II',
       'Nykjbings paa Falster', 'Barbados', 'Guinea Bissau',
       'Mohawk Indians', 'Tornado', 'Elsie', 'Roma', 'Tajamar',
       'Lemzos Thorichton "Spetsai"', 'Mound City Rowing Club',
       'Timor Leste', 'Amolgavar', 'Congo (Kinshasa)', 'Gabon', 'Ali',
       'May Be VII', 'San Marino', 'Favorite Hammonia', 'Laos',
       'Botswana', 'Refugee Olympic Athletes', 'Frankfurt Club', 'Lett',
       'GyoshuII', 'North Korea', 'Solomon Islands', 'Dolfijn', 'Senegal',
       'Cape Verde', 'Tip', 'rn', 'Crete', 'Breslau',
       'Club Nautique de Dieppe', 'Norna', 'Fram', 'Magda IX',
       'Equatorial Guinea', 'Bolivia', 'Saar', 'Andorra',
       'Antigua and Barbuda', 'EA II', 'Linglom', 'Mosk II',
       'Elisabeth X', 'Ludwigshafener Ruderverein', 'Guyoni',
       'La Salle Turnverein, Chicago', 'Gallant', 'Zimbabwe', 'Grenada',
       'Hera', 'Swedish Star', 'Nautikos Omilos', 'Wolseley', 'Hong Kong',
       'Ciocca II', 'Mirtala', 'Saint Lucia', 'Carabinier', 'Pettit',
       'Federated States of Micronesia', 'Myanmar', 'Hirondelle',
       'Kerstin', 'Evita VI', 'Malawi', 'Bronia', 'Zambia', 'Bluebottle',
       'Rhodesia', 'Snap', 'Chinese Taipei', 'Sao Tome and Principe',
       'Toronto Argonauts', 'England', 'Hungaria Evezos Egylet',
       'Macedonia', 'Bohemia', 'Argonaut Rowing Club',
       'Life boat naval ship "Spetsai"', 'Tonga', 'Fortuna',
       'Starlight III', 'Liechtenstein', 'Pan', 'Montenegro',
       'Leander Club', 'Lemzos Thorichton "Psara"', 'London City Police',
       'Sabre', 'Firebird II', 'Berliner Ruderverein von 1876',
       "Christian Brothers' College", 'Passaic Turnverein, Passaic',
       'Primorka', 'Gambia', 'Racing Club de France', 'Grifo III',
       'Grifo IV', 'Bingo', 'Damoiselle IV', 'Crabe II', 'Nina Claire',
       "Qu'Importe", 'Konstanz', 'Suzy', 'Mouchette',
       'Dansk Idrts Forbund', 'Marmara', 'Moseley Wanderers',
       'Chicago Athletic Association', 'Devon and Somerset Wanderers',
       'Mistral Hojris', 'Cook Islands', 'Albania', 'Pampero', 'Symphony',
       'Sjhxa', 'Faneca', 'Ciocca III',
       'Marinai della nave da guerra "Varese"', 'Lalage', 'Gallia II',
       'Dinah V', 'Nora', 'Monica', 'Kullan', 'Shoveller',
       'Amateur Athletic Association', 'Circus', 'Aletta', 'Widgeon',
       'Inca', 'Relampago', 'Foxhunters Hurlingham', 'Thames Rowing Club',
       'Davenport Turngemeinde, Davenport',
       'Norwegier Turnverein, Brooklyn', 'Erna Signe', 'Sirene', 'Anitra',
       'Snude', 'White Lady', 'Web II', 'Web III', 'Pistoja',
       'West Indies Federation', 'Posillipo III', 'Tritons Lillois',
       'Turnverein Vorwrts, Cleveland', 'Club Nautique de Franais',
       'Boreas', 'Peri', 'New York Turnverein, New York', 'Tichiboo',
       'Siames', 'Swaziland', 'Italia', 'Ausonia', 'Angelita',
       'Burkina Faso', 'Nortazo', 'Tom Kyle', 'Tilly', 'Esterel',
       'North Borneo', 'Wiking', 'Buraddoo', 'Heroine', 'Burundi', 'Chok',
       'Atlanta', 'Germania II', 'Wannsee', 'Polyteknisk Roklub', 'Aruba',
       'Buscape II', 'Nina', 'Kristiania Roklub', 'Ormsund Roklub',
       'Chuckles', 'Winnipeg Shamrocks', 'Olle', 'Camelia',
       'Aschenbrodel', 'Whitini Star', 'Bera', 'Slaghoken',
       'Slaghoken II', 'Nikh', 'Swift', 'Andorinha', 'Cupidon III',
       'Athens', 'Marga', 'Serendipity', "L'Aile VI",
       "Cercle de l'Aviron Roubaix", 'Caprice', 'New College, Oxford',
       'Compigne Polo Club', 'Vision', 'Cambridge University Boat Club',
       'Trickson VI', 'St. Rose', 'Calcinhas', 'Gteborgs Roddfrening',
       'Minerva Amsterdam', 'Chamukina', 'Nausikaa 4',
       'New York Athletic Club', 'Arcturus',
       'St. Louis Southwest Turnverein #1', 'Nauru', 'Jo', 'Lucky Star',
       'Namoussa', 'Briar', 'Panhellenios Gymnastikos Syllogos',
       'Gabbiano', 'Gran Gesto', 'Ceres II', 'Covunco III',
       'Chicago Archers', 'Royal Club Nautique de Gand',
       'Roddklubben af 1912', 'Bucintoro Venezia', 'Edelweiss II',
       'Bamba', 'Rush IV', 'Boston Archers', 'Upton Park FC',
       'BLO Polo Club, Rugby', 'Hurlingham', 'Western Rowing Club',
       'Pigoule', 'South Vietnam', 'Snowten III', 'Hungaria',
       'Libellule de Paris', 'Scram', 'Amstel Amsterdam', 'Scotland',
       'Peri II', 'Liverpool Police Team', 'Vinha', 'Fantasio III',
       'Pousse', 'Norwegian Rowing Association', 'LaBandera',
       'Gilliatt V', 'United States Golf Association', 'Trans',
       'Sarcelle', 'Tango', 'Brynhild', 'Espuma del Mar', 'Twins II',
       'Pupilles de Neptune de Lille #2', 'Beaver', 'Baccara', 'Cobweb',
       'Ral', 'Vietnam', 'Elvis Va', 'Romolo', 'Aldebaran II',
       'Aldebaran', 'Argus', 'Galatea II', 'Twins VIII', 'Antwerpia V',
       'Lotta IV', 'Saga', 'Mari', 'Paula', 'Oranje', 'Willem',
       'DeRuyter', 'Acturus', 'Societ Nautique de la Marne', 'Teresita',
       'Barion', 'Eissero VI', 'K Division Metropolitan Police Team',
       'Cambodia', 'Complex II', 'Allegro', 'Gam II', 'Ylliam VIII',
       'Quand', 'Berliner Ruderclub Sport', 'Smyrna', 'Calimucho',
       'Bhutan', 'Kingfisher', 'Yangon', 'Gustel V', 'Sonja II', 'Jill',
       'Kiel', 'KNS', 'Galt Football Club', 'Tim', 'Uragan', 'Kon',
       'Babe', 'Antares', 'Venilia', 'Hatuey', 'Cincinnati Archers',
       'Morena', 'Osborne Swimming Club, Manchester',
       'Brussels Swimming and Water Polo Club', 'Ancora', 'Saskia',
       'Wales', 'SagaII', 'Gem', 'June Climene', 'Cambria',
       'Oleander XII', 'Phoenix', 'Ylliam VII', 'Ballerina IV',
       'Calypse II', 'Ciocca', 'Esperia', 'Tournade', 'Tornade',
       'Galejan', 'Marshall Islands', 'Santa Maria', 'Dormy', 'Umberta V',
       'Rozenn', 'Jest', 'Magdalen College Boat Club',
       'Western Golf Association', 'Scotia', 'Red Dragon', 'R.',
       'Akatonbo', 'Terrible', 'Elisabeth V', 'Studenternes Roklub',
       'Rififi', 'New York Athletic Club #1', 'Partenope', 'Bermudes',
       'Cornwall', 'Kiribati', 'Diablo', 'Plume', 'Pierre et Jean',
       'Espadarte', 'Fruits', 'Sidi Fekkar', 'Sidi', 'Souvenance',
       'Meteor', 'Kurush IV', 'Vesania', 'Kurush II', 'Canopus',
       'Crabe I', 'Gwendoline', 'Vicking', 'Daisy', 'Virginie',
       'Acipactli', 'Pegaso', 'Girl Pat', 'Fada', 'Bu III', 'Lerina',
       'Bagatelle Polo Club, Paris', 'Bem II', 'St. Margrite',
       'Hollandia', 'Aphrodite', 'Bonzo',
       'Socit Nautique de la Basse Seine', 'Univ. of Brussels',
       'Concordia Turnverein, St Louis', 'Rowing Club Castillon',
       'Frip IV', 'Mad Dog', 'Hb', 'South St Louis Turnverein, St Louis',
       'Century Boat Club', 'Unique', 'Phalainis ton Thorichtou "Hydra"',
       'Viking', 'Silja', 'Bermudian', 'Dresden', 'Mignon', 'Favorite',
       'St. Louis Amateur Athletic Association', 'Naiad', 'Pakaria',
       'Oxalis', 'Gitana', 'Joy', 'Thalatta', 'Trintel II',
       'Central Turnverein, Chicago', 'Galopin', 'Berliner Ruderclub',
       'Rhythm', 'Turnverein Vorwrts, Chicago', 'Guanahani', 'Unknown',
       'Spirit III', 'Pannonia RC', 'Bella', 'May', 'May Be', 'Inga',
       'Nirwana', 'Omilos Ereton Peiraios', 'Llanoria', 'Marmi II',
       'Kitty', 'Vaxholm Roddklubb', 'Tuvalu', 'A North American Team',
       'Nirefs', 'Proteus II', 'Finn II', 'Impala',
       'Missouri Athletic Club', 'Pam', 'Oleander II', 'Apache',
       'Roklubb Kbnhavn', 'Tu', 'Tutti V', 'Cha', 'Augsburg',
       'Leander Club #2', 'Ariel', 'Encore', 'Feo',
       'Seawanhaka Boat Club', 'Gem II', 'Gem III', 'Gem IV', 'Gem VII',
       'Pupilles de Neptune de Lille #1', 'Chaje II',
       'Ludwigshafener Ruder Verein', 'Leander Club #1', 'Dylan',
       'Moorina', '30. Februar', 'Cercle Nautique de Reims', 'Struten',
       'Gyrinus', 'Ylliam II', 'Paka V', 'Brigantia',
       'Sydney Rowing Club', 'Espardate', 'Kannibaltje',
       'Milwaukee Athletic Club', 'Xantippa', 'Skum', 'Miss Denmark 1964',
       'Kemphaan', 'Helsingfors R. K.', 'Newfoundland', 'Emily',
       'Fram III', 'Mizar', 'Ubu', 'St. Louis Southwest Turnverein #2',
       'Socialer Turnverein, Detroit', 'Essen', 'Miss Nippon V',
       'Argeste', 'Gullvinge', 'Bajazzo', 'Cinara', 'Ilderim', 'Tantalus',
       'Peiraikos Syndesmos', 'Baby', 'Femur', 'Kosovo', 'Colette',
       'Germania Ruder Club, Hamburg', 'Freddy', 'Rika II', 'Korshun',
       'Patricia', 'Tlaloc', 'Springbok', 'Aretusa', 'Quicksilver',
       'Viktoriya', 'Omilos Ereton Smyrnis', 'Alcaid', 'Alain IV',
       'Jupiter', 'Three Leaves',
       'Philadelphia Turngemeinde, Philadelphia', 'K.S.S.S. 1912', 'Paka',
       'Sheerio', 'Pan II', 'Pasodoble', 'Freja', 'Sass', 'Roy',
       'Deutscher Schwimm Verband Berlin', 'Jet', 'Shrew II', 'Sylvia',
       'Salamander', 'Ingegerd', 'Johan', 'Andromeda', 'Hornet',
       'South Sudan', 'Chance', 'Brat', 'Yeoman V', 'Knigsberg',
       'Don Schufro', 'Vinga', 'Aloha II', 'Raili', 'Syndi', 'Vento Sul',
       'Sans Atout', 'Miss Nippon IV', 'Tramontane', 'Sandra',
       'Milwaukee Turnverein, Milwaukee', 'Nurdug II', 'Eleda', 'Lbeck',
       'Yeoman', 'Boer Team', 'Beatrijs III', 'Lancet', 'Lesotho',
       'Ravenswood Boat Club', 'Whisper', 'Irene', 'Balaton', 'Kuling',
       'Sif', 'Djinn', 'Mascotte', 'Bona Fide', 'Laurea', 'Skidoo',
       'Tomahawk II', 'Whirlaway', 'Sorais', 'Minotaur', 'Surprise',
       'Zut', 'Tan', 'Ciss', 'MitaII', 'Escapade', 'Ralia', 'Clearwater',
       'Angerburg', 'Barco Deloro', 'Dick', 'Kalayaan', 'Olimpia',
       'Macky VI', 'Nrnberg', 'Nephos I', 'Tengiri', 'Hayama', 'Rush VII',
       'Rush V', 'Ethnikos Gymnastikos Syllogos', 'John B', 'Bim',
       'Bonaparte', 'Mythilus', 'Rambo', 'Floresco', 'Lucky', 'Spirit VI',
       'Lully II', 'Sildra', 'Noreg', 'Subbnboana',
       'Phalainis ton Thorichtou "Psara"', 'Rostock', 'Norman',
       'Olympion', 'Sunshine', 'Heidelberg', 'Amulet',
       'Omas Helliniki P. S.', 'Crocodile', 'Leipzig', 'Red Indian',
       'Alcyon', 'Suzon IV', 'Mascaret', 'Sibindi',
       'Pupilles de Neptune de Lille', 'Combine', 'Stade Franais AC',
       'Kathleen', 'Club Nautique de Lyon', 'Holland', 'Starita',
       'Argo II', 'State VI', 'Frimousse', 'Gyp', 'Zefyros', 'Pirouette',
       'Mebi', 'Riccar', 'Lynn', 'Neptun II', 'Potomac Archers',
       'Brentina', 'Nan', 'Hannover', 'Scamasaxe', 'Three Star Too',
       'Bellatrix IX', 'Bellatrix XIII', 'Jeanette', 'Jeannette',
       'Turquoise', 'Roehampton', 'Glisten', 'Nadine', 'Grifone',
       'Twinkle', 'Myojo', 'Ducky', 'Rose Pompon', 'Souriceau', 'Lady C',
       'Frieda', 'Marsouin', 'Persey', 'Hi', 'Atalanta Boat Club',
       'Wendehals', 'Titia', 'Pimm', 'Gustel X', 'Gustl XI', 'Pop Art',
       'Barrenjoey', 'Voloira II', 'Bremen', 'Quando Quando', 'Donar III',
       'Hojwa', 'Tineke', 'Danuta', 'Maryke', 'Falcon VI', 'Manana',
       'Pandora', 'Rampage', 'Diabolo St Maurice', 'Ravel', 'Humbug V',
       'Astrid III', 'Kln', 'Demi', 'Nokaut II', 'Almaz', 'Tulilind',
       'Notavel', 'Galopin De La Font', 'Margaret', 'Comanche', 'Cicely',
       "Ma'Lindo", 'Harmony', 'Independent Rowing Club', 'Marie', 'Orion',
       'Merope', 'Scaup', 'Legionario', 'Merope III', 'Enotria',
       'Verveine', 'Ariette', 'Greenoaks Dundee', 'Fantlet',
       'Maid of Lebanon', 'Danaldo', 'Lyn', 'Sunrise', 'Falcon IV',
       'Potsdam', 'Giselle', 'Ardilla', 'Windor', 'Vim III', 'Lasha',
       'Hilarius', 'Hakahana', 'Glider', 'Squid III', 'Mamie', 'C.V.A.',
       'Singy', 'Hamburg', 'Mac Miche', 'Camille', 'Cuxhaven', 'Formosa',
       'Danzig', 'Salinero', 'Sjovinge', 'Brandenburg', 'Freia',
       'Satchmo', 'Sea Dog', 'Mainz', 'Solos Carex', 'Dow Jones', 'Digby'],
      dtype=object)

## üåé&nbsp;&nbsp;Bring in additional data
Let's query a MariaDB database containing information on world nations to provide some additional data. 

We will store our query result as a pandas DataFrame named `nations_data`.

In [80]:
# nations_data df generated using the following query:

q = """
    SELECT name AS country, year, population 
    FROM nations_data 
    INNER JOIN country_stats USING(country_id);
    """ 

nations_data = pd.read_csv(r"C:\Users\yoyoj\Documents\Data\Data Camp Projects\Olympics with SQL and Python\nations.data.csv")

nations_data

       country  year  population
0        Aruba  1986       62644
1        Aruba  1987       61833
2        Aruba  1988       61079
3        Aruba  1989       61032
4        Aruba  1990       62149
...        ...   ...         ...
9509  Zimbabwe  2014    13586681
9510  Zimbabwe  2015    13814629
9511  Zimbabwe  2016    14030390
9512  Zimbabwe  2017    14236745
9513  Zimbabwe  2018    14439018

[9514 rows x 3 columns]

We now have country data that we can join with the Olympics data! We will use the [`.merge()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) method to combine the two DataFrames using the country and year columns.

A "left" join matches on rows in the olympics_data DataFrame, as some teams will not be present in the `countries_data` DataFrame.

In [81]:
# Perform a left join between the two DataFrames
olympics_full = olympics.merge(nations_data, left_on=["team_clean", "year"], right_on=["country", "year"], how="left")

# Preview our data
olympics_full

,id,name,sex,age,height,weight,team,noc,games,year,season,city,sport,event,medal,team_clean,country,population
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,China,1.164970e+09
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,China,1.350695e+09
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,Netherlands,1.476009e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,Poland,NaN,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Poland,Poland,3.801174e+07
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Poland,Poland,3.801174e+07
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,Poland,3.866348e+07
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,Poland,3.823036e+07

## üèÜ&nbsp;&nbsp;Which countries have the most gold medals?
Let's start by calculating and visualizing the number of gold medals won by athletes from different countries. To do this, we can use the [`.query()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html) method to filter for rows where the `medal` is "Gold" and then use [.group_by()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) to aggregate by our `team_clean` variable. We then use [`.count()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.count.html) to count the number of rows per team.

A second line sorts the values of our query so that we see the top teams first!

In [82]:
# Count the number of gold medals earned by a country
gold_count = olympics_full.query("medal=='Gold'").groupby("team_clean", as_index=False)["medal"].count()

# Sort the values
gold_count.sort_values(by="medal", ascending=False, inplace=True)

# Preview our count
gold_count

        team_clean  medal
194  United States   2529
175   Soviet Union   1080
74         Germany    721
93           Italy    549
75   Great Britain    545
..             ...    ...
37          Cicely      1
177       Suriname      1
149         Panama      1
181          Syria      1
104         Kosovo      1

[208 rows x 2 columns]

We can visualize this using Plotly. Let's create a [choropleth map](https://plotly.com/python/choropleth-maps/) (i.e., a world map), where the country's color is based upon the medal count!

In [83]:
# Create choropleth map of gold medal counts
fig = px.choropleth(gold_count, locations="team_clean", locationmode="country names", color="medal", labels={"team_clean":"country", "medal":"Medal Count"},title="Number of Gold Medals by Country" )

fig.show()

## üìà&nbsp;&nbsp;How has the number of sports grown over time?
Another question we can ask ourselves is whether the number of individual sports has increased over time.

We will do this by grouping by the year and season (i.e., summer or winter) and then counting the number of unique using [.nunique()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html).

In [84]:
# Group by year and season and count the number of unique values
sport_count = olympics_full.groupby(["year", "season"], as_index=False)["sport"].nunique()

# Preview the DataFrame
sport_count

    year  season  sport
0   1896  Summer      9
1   1900  Summer     20
2   1904  Summer     18
3   1906  Summer     13
4   1908  Summer     24
5   1912  Summer     17
6   1920  Summer     25
7   1924  Summer     20
8   1924  Winter     10
9   1928  Summer     17
10  1928  Winter      8
11  1932  Summer     18
12  1932  Winter      7
13  1936  Summer     24
14  1936  Winter      8
15  1948  Summer     20
16  1948  Winter      9
17  1952  Summer     19
18  1952  Winter      8
19  1956  Summer     19
20  1956  Winter      8
21  1960  Summer     19
22  1960  Winter      8
23  1964  Summer     21
24  1964  Winter     10
25  1968  Summer     20
26  1968  Winter     10
27  1972  Summer     23
28  1972  Winter     10
29  1976  Summer     23
30  1976  Winter     10
31  1980  Summer     23
32  1980  Winter     10
33  1984  Summer     25
34  1984  Winter     10
35  1988  Summer     27
36  1988  Winter     10
37  1992  Summer     29
38  1992  Winter     12
39  1994  Winter     12
40  1996  Summer     31
41  1998  Winter     14
42  2000  Summer     34
43  2002  Winter     15
44  2004  Summer     34
45  2006  Winter     15
46  2008  Summer     34
47  2010  Winter     15
48  2012  Summer     32
49  2014  Winter     15
50  2016  Summer     34

Let's plot this data using a [line plot](https://plotly.com/python/line-charts/), broken up by season!

In [85]:
# Create a line plot for Summer and Winter Olympics
fig = px.line(sport_count, x="year", y="sport", color="season", labels={"year": "Year", "sport":"Sport Count", "season":"Season"}, title="Count of Distinct Sports by Year and Season")

fig.show()

## üë™&nbsp;&nbsp;Bonus: Which countries had the highest medal count per 10 million people in 2016?
Finally, let's use the population data we took from our SQL database! One exciting way will be to reproduce a variant of [this chart](https://www.businessinsider.com/2016-rio-olympics-medals-per-capita-2016-8?r=US&IR=T) from Business Insider of the number of medals per capita.

To account for team data, we will first aggregate by the team, event, medal, and population and select the [`.first()`](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.first.html) medal. This will allow us to get the medals by country and event.

In [86]:
# Calculate event medals
event_medals = olympics_full.query("year == 2016")\
    .groupby(["team_clean", "event", "medal", "population"], as_index=False)["medal"].first()

# Preview the DataFrame
event_medals

,team_clean,event,population,medal
0,Algeria,"Athletics Men's 1,500 metres",40551404.0,Silver
1,Algeria,Athletics Men's 800 metres,40551404.0,Silver
2,Argentina,Hockey Men's Hockey,43590368.0,Gold
3,Argentina,Judo Women's Extra-Lightweight,43590368.0,Gold
4,Argentina,Sailing Mixed Multihull,43590368.0,Gold
...,...,...,...,...
796,Uzbekistan,"Wrestling Men's Featherweight, Greco-Roman",31847900.0,Bronze
797,Uzbekistan,"Wrestling Men's Heavyweight, Freestyle",31847900.0,Bronze
798,Uzbekistan,"Wrestling Men's Welterweight, Freestyle",31847900.0,Bronze
799,Vietnam,"Shooting Men's Air Pistol, 10 metres",93638724.0,Gold
800,Vietnam,"Shooting Men's Free Pistol, 50 metres",93638724.0,Silver

With the event data, we can perform a similar aggregation as before and calculate the ratio of medal count to population (divided by 10 million for interpretability).

In [87]:
# Group by the team and population
medal_counts = event_medals.groupby(["team_clean", "population"], as_index=False)["medal"].count()

# Calculate the number of medals per 10000000 people
medal_counts["per_10m"] = medal_counts["medal"] / (medal_counts["population"] / 10000000)

# Sort values and take the top 20 countries
top_countries = medal_counts.sort_values(by="per_10m", ascending=False).head(20)

# Preview the DataFrame
top_countries

        team_clean  population  medal    per_10m
29         Grenada    110261.0      1  90.693899
6          Bahamas    377931.0      2  52.919713
47     New Zealand   4693200.0     18  38.353362
37         Jamaica   2906238.0     11  37.849619
19         Denmark   5728010.0     15  26.187105
16         Croatia   4174349.0     10  23.955831
58        Slovenia   2065042.0      4  19.370066
26         Georgia   3727505.0      7  18.779318
5       Azerbaijan   9757812.0     18  18.446758
30         Hungary   9814023.0     15  15.284252
7          Bahrain   1425791.0      2  14.027301
41       Lithuania   2868231.0      4  13.945878
2          Armenia   2936146.0      4  13.623301
3        Australia  24190907.0     29  11.987975
46     Netherlands  17030314.0     19  11.156576
62          Sweden   9923085.0     11  11.085262
17            Cuba  11335109.0     11   9.704362
8          Belarus   9501534.0      9   9.472155
18  Czech Republic  10566332.0     10   9.464022
63     Switzerland   8373338.0      7   8.359868

We can now use a [bar chart](https://plotly.com/python/bar-charts/) to visualize the top countries by medals per capita!

In [88]:
# Create a column chart by medal per capita
fig = px.bar(top_countries, x="team_clean", y="per_10m", labels={"team_clean":"Country", "per_10m":"Medals per 10M"}, title="Number of Medals per 10 Million in Population")

fig.show()

That's all! We successfully loaded data from two different sources, performed light cleaning, and then used the data to answer three questions with interactive charts.